<template>
	<section class="business">
		<div class="business__content container">
			<p class="business__text">
				Sie suchen Mitarbeiter?<br />
				Veröffentlichen Sie jetzt innerhalb von
				<span class="business__text business__text--strong">3 Minuten</span> Ihr
				Inserat auf hokify.
			</p>
			<CustomButton text="Inserat schalten" :btnSecondary="true" />
		</div>
	</section>
</template>

<script>
import { defineComponent } from "@vue/runtime-core";
import CustomButton from "./CustomButton.vue";

export default defineComponent({
	components: { CustomButton },
});
</script>

<style lang="scss">
.business {
	background: $colorPrimary;
	text-align: center;
	&__text {
		font-size: 1.4rem;
		color: white;
		&--strong {
			font-weight: bold;
		}
	}
}
</style>
