<template>
	<section class="benefits">
		<div class="benefits__img-container">
			<img
				src="@/assets/clippedsmall.jpg"
				alt="placeholder"
				class="benefits__img"
			/>
		</div>
		<ul class="benefits__list">
			<li class="benefits__item">
				<span class="benefits__icon">+</span>
				<div class="benefits__content">
					<h4 class="benefits__heading">Entspannte Jobsuche</h4>
					<p class="benefits__text">
						Umkreissuche ohne Aufwand passende Job Angebote in deiner Nähe.
					</p>
				</div>
			</li>
			<li class="benefits__item">
				<span class="benefits__icon">+</span>
				<div class="benefits__content">
					<h4 class="benefits__heading">Einfache Bewerbung</h4>
					<p class="benefits__text">
						Erstelle deine Bewerbung erfolgreich ohne Anschreiben und mühsame
						Formulare.
					</p>
				</div>
			</li>
			<li class="benefits__item">
				<span class="benefits__icon">+</span>
				<div class="benefits__content">
					<h4 class="benefits__heading">Am Handy oder Pc</h4>
					<p class="benefits__text">
						Führe die Jobsuche und Bewerbung vollständig am Handy oder am PC
						durch.
					</p>
				</div>
			</li>
		</ul>
	</section>
</template>

<script>
import { defineComponent } from "@vue/runtime-core";

export default defineComponent({});
</script>

<style lang="scss">
.benefits {
	overflow: hidden;
	background: $colorSecondary;

	&__img-container {
		position: relative;
		transform: rotateZ(-15deg);
		padding: 1rem;
		opacity: 0.9;
	}

	&__img {
		margin: 1rem auto;
		display: block;
		border-radius: 900px;
		box-shadow: 0px 0px 18px 0 rgba(0, 0, 0, 0.6);
		max-height: 400px;
	}

	&__list {
		color: $colorDark;
		list-style: none;
		padding: 0 1rem;
	}

	&__item {
		display: flex;
		align-items: stretch;
		margin-bottom: 1rem;
	}

	&__heading {
		margin: 0;
		margin-bottom: 0.5rem;
	}

	&__text {
		margin: 0;
	}

	&__icon {
		display: flex;
		font-size: 2rem;
		align-items: center;
		margin-right: 2rem;
		color: $colorDark;
	}
}

@media (min-width: 640px) {
	.benefits {
		display: flex;
		justify-content: center;
		align-items: center;

		&__img-container {
			padding: 1rem 0 0 2rem;
		}

		&__list {
			padding: 0 3rem 0 5rem;
		}
	}
}
</style>
