<template>
	<button
		:class="['custom-button', classObject]"
		@click.prevent="btnFunc"
		:type="type"
	>
		{{ text }}
	</button>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import { StyleObject } from "../types/StyleObject";

export default defineComponent({
	props: ["text", "btnFunc", "type", "btnSecondary"],
	computed: {
		classObject(): StyleObject {
			return {
				"custom-button--secondary": this.btnSecondary,
			};
		},
	},
});
</script>

<style lang="scss">
.custom-button {
	background: $btnBgPrimary;
	color: $btnColorPrimary;
	border: none;
	border-radius: 20px;
	padding: 0.7em;
	font-weight: bold;
	font-size: 1rem;
	margin-bottom: 1rem;

	&--secondary {
		background: $btnBgSecondary;
	}
}
</style>
