<template>
	<div class="input-container">
		<label class="input-container__label" :for="name">{{ label }}</label>
		<input
			class="input-container__input"
			:type="type"
			:id="id"
			:name="name"
			:value="modelValue"
			@input="handleInput"
			:required="required"
		/>
	</div>
</template>

<script lang="ts">
// type Test = { [key: string]: string | boolean };

import { defineComponent } from "@vue/runtime-core";
export default defineComponent({
	name: "CustomInput",
	props: ["label", "id", "name", "type", "modelValue", "required"],
	methods: {
		handleInput(e: KeyboardEvent): void {
			this.$emit("update:modelValue", (e.target as HTMLInputElement).value);
		},
	},
});
</script>

<style lang="scss">
.input-container {
	display: flex;
	flex-direction: column;
	margin-bottom: 1rem;

	&__label {
		color: $colorDark;
		font-weight: bold;
		margin-bottom: 0.3rem;
	}

	&__input {
		border: 1px solid lightgray;
		border-radius: 5px;
		padding: 0.5rem;

		&--last {
			margin-bottom: 1rem;
		}
	}
}
</style>
