<template>
	<header class="header">
		<div class="header__logo-container">
			<div class="header__logo">
				<span class="header__logo-text header__logo-text--circle">hy!</span>
			</div>
			<span class="header__logo-text">hokify</span>
		</div>
		<button class="header__nav-toggle" @click="toggleNav">
			<div class="header__burger"></div>
		</button>
		<nav class="header__nav">
			<ul class="header__list" :class="showNavMenu">
				<li class="header__item">
					<a class="header__link" href="">Jobsuche</a>
				</li>
				<li class="header__item">
					<a class="header__link" href="">Lebenslauf</a>
				</li>
				<li class="header__item">
					<a class="header__link" href="">Tipps</a>
				</li>
				<li class="header__item">
					<a class="header__link" href="">Für Arbeitgeber</a>
				</li>
				<li class="header__item">
					<a class="header__link" href="">Profil</a>
				</li>
				<li class="header__item">
					<a class="header__link" href="">{{ showUserInHeader }} </a>
				</li>
			</ul>
		</nav>
	</header>
</template>

<script lang="ts">
import { defineComponent } from "@vue/runtime-core";
import { StyleObject } from "../types/StyleObject";

export default defineComponent({
	name: "Header",
	props: ["firstName"],
	data() {
		return {
			showNav: false,
		};
	},
	components: {},
	methods: {
		toggleNav(): void {
			this.showNav = !this.showNav;
		},
	},
	computed: {
		showNavMenu(): StyleObject {
			return {
				"header__list--show": this.showNav,
			};
		},
		showUserInHeader(): string {
			if (this.firstName) {
				return "Abmelden";
			}
			return "Anmelden";
		},
	},
});
</script>

<style lang="scss" scoped>
.container {
	padding: 0 2rem;
}
.header {
	$skewXLogoContainer: -30deg;
	$skewXLogo: 30deg;

	display: flex;
	background: yellow;
	background: $colorPrimary;
	align-items: center;
	position: relative;

	&__logo-container {
		display: flex;
		align-items: center;
		border-right: 4px solid $colorSecondary;
		border-bottom-right-radius: 30px;
		transform: skewX($skewXLogoContainer);
		padding: 0.5rem 1rem 0.5rem 0.5rem;
	}

	&__logo {
		background: white;
		border-radius: 100%;
		transform: skewX($skewXLogo);
		margin-right: 0.3rem;
	}

	&__logo-text {
		color: white;
		transform: skewX($skewXLogo);
		&--circle {
			display: inline-block;
			transform: skewX($skewXLogoContainer);
			font-size: 1.4rem;
			padding: 0.4rem;
			color: $colorPrimary;
		}
	}

	&__nav-toggle {
		width: 3em;
		height: 3em;
		padding: 0;
		border: none;
		background: unset;
		outline: none;
		cursor: pointer;
		order: 0;
	}

	%burger {
		height: 3px;
		background: white;
		display: block;
	}

	&__burger {
		@extend %burger;
		width: 60%;
		margin: 0 auto;

		@mixin burgerPseudo($pixel) {
			@extend %burger;
			content: "";
			transform: translateY($pixel);
			width: 100%;
		}

		&::before {
			@include burgerPseudo(-7px);
		}
		&::after {
			@include burgerPseudo(4px);
		}
	}

	&__nav-toggle {
		margin-left: auto;
	}

	&__nav {
		position: absolute;
		top: 100%;
		right: 0;
		display: flex;
		flex-direction: column;
		background: white;
		z-index: 1;
		border: 1px solid lightgray;
		box-shadow: 0px 4px 11px 0px rgba(0, 0, 0, 0.205);

		&::-webkit-scrollbar {
			display: none;
		}
	}

	&__list {
		list-style: none;
		padding: 0;
		margin: 0;
		display: none;
		flex-direction: column;

		&--show {
			display: flex;
		}
	}

	&__item {
		display: flex;

		& + & {
			border-top: 1px solid lightgray;
		}
	}

	&__link {
		text-decoration: none;
		color: black;
		padding: 1rem 1rem;
		text-transform: uppercase;
		flex: 1;
		font-size: 0.8rem;
		color: $colorPrimary;
	}
}

@media (min-width: 640px) {
	.header {
		&__nav-toggle {
			display: none;
		}

		&__nav {
			overflow-x: scroll;
			position: unset;
			background: unset;
			border: none;
			box-shadow: none;
			margin-left: auto;
		}

		&__list {
			display: flex;
			flex-direction: row;
			align-items: center;
		}

		&__item {
			& + & {
				border: none;
			}
		}

		&__link {
			color: white;
		}
	}
}
</style>
