<template>
	<section class="container latest-jobs">
		<h2 class="latest-jobs__heading">
			Finde aktuelle Jobs in folgenden Bereichen:
		</h2>
		<ul class="latest-jobs__list">
			<li class="latest-jobs__item">
				<a class="latest-jobs__link"
					>Bau
					<span class="latest-jobs__amount">(484)</span>
				</a>
			</li>
			<li class="latest-jobs__item">
				<a class="latest-jobs__link"
					>Beauty, Wellness, Sport
					<span class="latest-jobs__amount">(43)</span>
				</a>
			</li>
			<li class="latest-jobs__item">
				<a class="latest-jobs__link"
					>EDV, IT
					<span class="latest-jobs__amount">(366)</span>
				</a>
			</li>
			<li class="latest-jobs__item">
				<a class="latest-jobs__link"
					>Einkauf, Lager, Transport
					<span class="latest-jobs__amount">(755)</span>
				</a>
			</li>
			<li class="latest-jobs__item">
				<a class="latest-jobs__link"
					>Elektronik, INstallation
					<span class="latest-jobs__amount">(659)</span>
				</a>
			</li>
			<li class="latest-jobs__item">
				<a class="latest-jobs__link"
					>Fahrzeugtechnik
					<span class="latest-jobs__amount">(175)</span>
				</a>
			</li>
			<li class="latest-jobs__item">
				<a class="latest-jobs__link"
					>Gastronomie
					<span class="latest-jobs__amount">(978)</span>
				</a>
			</li>
			<li class="latest-jobs__item">
				<a class="latest-jobs__link"
					>Handel
					<span class="latest-jobs__amount">(2188)</span>
				</a>
			</li>
			<li class="latest-jobs__item">
				<a class="latest-jobs__link"
					>Handel
					<span class="latest-jobs__amount">(42)</span>
				</a>
			</li>
			<li class="latest-jobs__item">
				<a class="latest-jobs__link"
					>Handel
					<span class="latest-jobs__amount">(70)</span>
				</a>
			</li>
			<li class="latest-jobs__item">
				<a class="latest-jobs__link"
					>Land-, Vieh-, Forstwirschaft
					<span class="latest-jobs__amount">(96)</span>
				</a>
			</li>
			<li class="latest-jobs__item">
				<a class="latest-jobs__link"
					>Marketing, Medien
					<span class="latest-jobs__amount">(115)</span>
				</a>
			</li>
		</ul>
	</section>
</template>

<script>
import { defineComponent } from "@vue/runtime-core";

export default defineComponent({});
</script>

<style lang="scss">
.latest-jobs {
	margin-bottom: 1rem;
	&__heading {
		color: $colorPrimary;
		padding-bottom: 0.3rem;
		border-bottom: 3px solid;
		line-height: 2rem;
	}

	&__list {
		display: flex;
		flex-direction: column;
	}
	&__link {
		display: inline-block;
		padding: 0.5rem;
		color: $colorDark;
	}
}

@media (min-width: 640px) {
	.latest-jobs {
		&__list {
			flex-wrap: wrap;
			height: 16rem;
		}
	}
}

@media (min-width: 1024px) {
	.latest-jobs {
		&__list {
			height: 11rem;
		}
	}
}
@media (min-width: 1280px) {
	.latest-jobs {
		&__list {
			height: 8rem;
		}
	}
}
</style>
