<template>
	<main class="main">
		<Header :firstName="firstName" />
		<SuccessStats />
		<Quickstart />
		<SignUp @userSet="showModal" @noUserSet="hideModal" />
		<div class="promo-video-container">
			<img
				class="promo-video"
				src="https://source.unsplash.com/random"
				alt="placeholder"
			/>
		</div>
		<LatestJobs />
		<Benefits />
		<Modal
			:userSet="userSet"
			:email="email"
			:firstName="firstName"
			:lastName="lastName"
			@closeModal="hideModal"
		/>
		<Advertise />
	</main>
</template>

<script lang="ts">
import { defineComponent } from "@vue/runtime-core";
import Header from "./Header.vue";
import SignUp from "./SignUp.vue";
import Modal from "./Modal.vue";
import Quickstart from "./Quickstart.vue";
import LatestJobs from "./LatestJobs.vue";
import SuccessStats from "./SuccessStats.vue";
import Benefits from "./Benefits.vue";
import Advertise from "./Advertise.vue";
import { UserObject } from "../types/UserTypes";

export default defineComponent({
	components: {
		SignUp,
		Header,
		Modal,
		Quickstart,
		SuccessStats,
		LatestJobs,
		Benefits,
		Advertise,
	},
	data() {
		return {
			firstName: "",
			lastName: "",
			email: "",
			userSet: false,
		};
	},
	methods: {
		showModal({ firstName, lastName, email }: UserObject): void {
			this.userSet = true;
			this.firstName = firstName;
			this.lastName = lastName;
			this.email = email;
		},
		hideModal(): void {
			this.userSet = false;
			this.clearUserData();
		},
		clearUserData(): void {
			this.firstName = "";
			this.lastName = "";
			this.email = "";
		},
	},
});
</script>

<style lang="scss">
.main {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}
.container {
	width: 100%;
	padding: 0 1rem;
}

/* .container-fluid {
	width: 100%;
} */

.promo-video-container {
	position: relative;
	padding-top: 60%;
	margin-bottom: 1rem;
}
.promo-video {
	object-fit: cover;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	display: block;
}

@media (min-width: 640px) {
	.container {
		max-width: 640px;
		margin: 0 auto;
	}

	.promo-video-container {
		padding-top: 0;
	}

	.promo-video {
		height: 350px;
		position: unset;
	}
}

@media (min-width: 1024px) {
	.container {
		max-width: 1024px;
	}
}

@media (min-width: 1280px) {
	.container {
		max-width: 1280px;
	}
}
</style>
