<template>
	<div :class="['modal-container', toggleModal]">
		<div class="modal">
			<div class="modal__header">
				<h2 class="modal__heading">Hallo, {{ fullName }}!</h2>
				<span class="modal__close" @click="closeModal">&times;</span>
			</div>
			<div class="modal__body">
				<p class="modal__text">
					Du hast dich mit folgender Email angemeldet:
					<span class="modal__text modal__text--strong">{{ email }}</span>
				</p>
			</div>
		</div>
	</div>
	<div :class="[toggleOverlay, 'overlay']" @click="closeModal"></div>
</template>

<script lang="ts">
import { defineComponent } from "@vue/runtime-core";
import { StyleObject } from "../types/StyleObject";

export default defineComponent({
	name: "Modal",
	props: ["firstName", "lastName", "email", "userSet"],
	emits: ["closeModal"],
	methods: {
		checkIfUserSet(): boolean {
			return this.userSet;
		},
		closeModal(): void {
			this.$emit("closeModal");
		},
	},
	computed: {
		fullName(): string {
			return `${this.firstName} ${this.lastName}`;
		},
		toggleModal(): StyleObject {
			return {
				"modal-container--show": this.checkIfUserSet(),
			};
		},
		toggleOverlay(): StyleObject {
			return {
				"overlay overlay--show": this.checkIfUserSet(),
			};
		},
	},
});
</script>

<style lang="scss">
.modal-container {
	position: fixed;
	bottom: 100%;
	left: 0;
	right: 0;
	width: 80%;
	border-radius: 20px;
	margin: 0 auto;
	transition: all 0.6s ease;
	opacity: 0;

	&--show {
		bottom: 50%;
		opacity: 1;
		z-index: 1;
	}
}

.modal {
	background: white;
	padding: 1rem;
	border-radius: 20px;
	border: 1px solid $colorSecondary;
	color: $colorPrimary;
	box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.3);
	max-width: 700px;
	margin: 0 auto;

	&__header {
		text-align: center;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__heading {
		margin: 0;
		padding: 1rem;
	}

	&__text {
		font-size: 1.2rem;

		&--strong {
			font-weight: bold;
		}
	}

	&__close {
		margin-left: auto;
		font-size: 2rem;
	}
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 0;
	background: rgba(0, 0, 0, 0.3);
	display: none;

	&--show {
		display: block;
	}
}
</style>
