<template>
	<section class="quick-start container">
		<h1 class="quick-start__heading">
			Job? Passt<br />Mit hokify erfolgreich in 3 Minuten bewerben
		</h1>
		<h3 class="quick-start__heading quick-start__heading--last">
			Schneller zu deinem neuen Job in Handwerk, Gastro, Handel und Büro in
			Österreich
		</h3>
	</section>
</template>

<script>
import { defineComponent } from "@vue/runtime-core";

export default defineComponent({});
</script>

<style lang="scss">
.quick-start {
	display: flex;
	flex-direction: column;

	&__heading {
		margin-bottom: 0.5rem;
		color: $colorPrimary;

		&--last {
			margin-bottom: 2rem;
			font-weight: 100;
		}
	}
}

@media (min-width: 640px) {
	.quick-start {
		&__heading {
			margin-left: auto;
			margin-right: auto;

			&--last {
				width: 470px;
			}
		}
	}
}
</style>
