<template>
	<div class="container">
		<form class="form" action="" @submit.prevent="submit">
			<h2 class="form__heading">Jetzt anmelden</h2>
			<p v-if="errors.firstName" class="form__error">
				{{ errors.firstName }}
			</p>
			<custom-input
				id="firstName"
				label="Vorname"
				name="firstName"
				type="text"
				required
				v-model.trim="userObject.firstName"
			/>
			<p v-if="errors.lastName" class="form__error">
				{{ errors.lastName }}
			</p>
			<custom-input
				id="lastName"
				label="Nachname"
				name="lastName"
				type="text"
				required
				customCssClass="big"
				v-model.trim="userObject.lastName"
			/>
			<p v-if="errors.email" class="form__error">
				{{ errors.email }}
			</p>
			<custom-input
				id="email"
				label="Email"
				name="email"
				type="email"
				required
				v-model.trim="userObject.email"
			/>
			<custom-button text="Anmelden" type="submit" :btnFunc="submit" />
		</form>
	</div>
</template>

<script lang="ts">
import { defineComponent } from "@vue/runtime-core";
import CustomButton from "./CustomButton.vue";
import CustomInput from "./CustomInput.vue";
import { UserObject } from "../types/UserTypes";
import { FormErrors } from "../types/FormErrorTypes";

export default defineComponent({
	data() {
		return {
			errors: {} as FormErrors,
			userObject: {} as UserObject,
		};
	},
	name: "SignUp",
	emits: ["userSet", "noUserSet"],
	components: { CustomInput, CustomButton },
	methods: {
		checkFormData(): boolean {
			let errors = false;
			this.errors.firstName = "";
			this.errors.lastName = "";
			this.errors.email = "";
			if (!this.userObject.firstName) {
				this.errors.firstName = "Vorname ist ein Pflichtfeld";
				errors = true;
			}
			if (!this.userObject.lastName) {
				this.errors.lastName = "Nachname ist ein Pflichtfeld";
				errors = true;
			}

			const mailRegex = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;

			if (!mailRegex.test(this.userObject.email)) {
				this.errors.email = "Email ist ein Pflichtfeld";
				errors = true;
			}

			if (errors) return false;
			else return true;
		},
		submit(): void {
			if (this.checkFormData()) {
				this.$emit("userSet", this.userObject);
				this.resetFormData();
			} else {
				this.$emit("noUserSet");
			}
		},
		resetFormData(): void {
			this.userObject = {} as UserObject;
			this.errors = {} as FormErrors;
		},
	},
});
</script>

<style lang="scss">
$colorDark: #596d83;

.form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	border-top: 2px solid rgba(17, 177, 175, 0.3);
	border-radius: 20px;
	padding: 1rem;
	border-left: 7px solid #11b1af;
	box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
	margin-bottom: 2rem;

	&__heading {
		text-align: center;
		color: $colorDark;
	}

	&__error {
		color: red;
	}
}
@media (min-width: 640px) {
	.form {
		width: 600px;
		margin-left: auto;
		margin-right: auto;
	}
}
</style>
