<template>
	<div class="success-stats-container">
		<div class="success-stats">
			<p class="success-stats__text">
				Erfolgreich im neuen Job:
				<span class="success-stats__text success-stats__text--bold"
					>43.600</span
				>
			</p>
		</div>
	</div>
</template>

<script>
import { defineComponent } from "@vue/runtime-core";

export default defineComponent({});
</script>

<style lang="scss">
.success-stats {
	justify-content: center;
	display: flex;
	text-align: center;
	margin: 0;
	flex: 1;
	border-bottom-left-radius: 9999px;
	margin-left: 2.5rem;
	padding: 0.7rem 1rem;
	background: $colorSecondary;
	font-size: 0.8rem;

	&__text {
		margin: 0;
		&--bold {
			font-weight: bold;
		}
	}
}
</style>
