<template>
	<Main></Main>
</template>

<script lang="ts">
import { defineComponent } from "@vue/runtime-core";
import Main from "./components/Main.vue";

export default defineComponent({
	name: "App",
	components: { Main },
});
</script>

<style>
* {
	box-sizing: border-box;
	font-family: "Ubuntu", sans-serif;
}
body {
	margin: 0;
}

img,
video {
	max-width: 100%;
}
</style>
